In [2]:
consumer_key = '5Dyrn4s6llMzjYSYvJmbUAcmU'
consumer_secret = 'QGgV43DzwsdPK6VmxCn2MfQYE9Bwss1NDaBN58Wr0puQ8l3EMA'
access_token = '320368103-DSCfsickGX663pywN16eBi0BiPU9FlkH1Uv4Cw70'
access_token_secret = 'OCLcwKWSov8hXjgzbX3QbtecDAMDOG8DOFaNpSkfrWEcp'

In [3]:
import tweepy
import pandas as pd
import numpy as np

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [5]:
# Preparing dictionary for data collection
tweets = {'date': [], 'text': []}

In [6]:
# Using for loop collecting data to our dictionary
for tweet in tweepy.Cursor(api.search,q="#GameOfThronesFinale",count=10,
                           lang="en",
                           since="2019-05-20", tweet_mode='extended').items():
    tweets['date'].append(tweet.created_at)
    tweets['text'].append(tweet.full_text)

In [7]:
# F-on that for a given query from a given data collect tweets to dictionary and return it. Count can be fixed at 10.
def collect_tweets(query, start_date):
    tweets = {'date': [], 'text': []}
    for tweet in tweepy.Cursor(api.search,q="#GameOfThronesFinale",count=10,
                           lang="en",
                           since="2019-05-20", tweet_mode='extended').items():
        tweets['date'].append(tweet.created_at)
        tweets['text'].append(tweet.full_text)
    return tweets

In [8]:
# Different requests on #GameOfThronesFinale or #GameOfThronesSeason8.
tweets1 = collect_tweets(query = '#GameOfThronesFinale', start_date = "2019-05-20")
tweets2 = collect_tweets(query = '#GameOfThronesSeason8', start_date = "2019-05-20")

In [1]:
# Zadanie * Zapoznaj siÄ™ z dokumentacjÄ… pakietu newspaper3k: https://pypi.org/project/newspaper3k/ Jest to pakiet, ktÃ³ry sÅ‚uÅ¼y do pobierania tekstu ze stron internetowych z wiadomoÅ›ciami.
# ZnajdÅº w internecie kilka artykuÅ‚Ã³w na temat sztucznej inteligencji i pobierz tekst tych artykuÅ‚Ã³w przy pomocy pakietu. 
# Zapisz je na liÅ›cie i zobacz jak wyglÄ…dajÄ….
# pip install -q newspaper3k

# from newspaper import Article
# url = 'https://www.wired.com/story/adversarial-examples-ai-may-not-hallucinate/'
# article = Article(url)
# article.download()
# article.text

In [9]:
tweet_df1 = pd.DataFrame(tweets1)
tweet_df2 = pd.DataFrame(tweets2)

In [10]:
tweet_df = tweet_df1.append(tweet_df2)

In [11]:
tweet_df.head()

                 date                                               text
0 2019-06-18 05:56:33  New Arrival--Game of Thrones 8 Daenerys Targar...
1 2019-06-18 05:36:58  https://t.co/NPHrBatFog How should #gameofthro...
2 2019-06-18 05:25:08  RT @bakchodbanker: Desi #GameOfTrones\n#GameOf...
3 2019-06-18 04:58:59  Events in entertainment that ended this year: ...
4 2019-06-18 04:57:43  I canâ€™t top this and thatâ€™s the point #drinkin...

In [14]:
# Prepare list of texts from Twitter for further analisys.
# 1 - sellect text coloumn and convert it to list list(coloumn) and assign a new var.
# 2 - using list_comprehension or loop preprocess the text removing retweet fragments as RT @thalesgroup
# using f-on split(':') and select string fragment Eg: ab:cd.split(:) will return ['ab', 'cd'].

tweets_texts = list(tweet_df['text'])
tweets_texts = [elem.split(':')[1] for elem in tweets_texts if ':' in elem]
tweets_texts = [elem for elem in tweets_texts if '@' not in elem]

In [16]:
# Perform sentiment analisys using textblob library. 
# https://textblob.readthedocs.io/ Najpierw moÅ¼emy jednak spojrzeÄ‡ na kilka przykÅ‚adowych tweetÃ³w jaki majÄ… sentyment w Google Cloud Natural Language Processing API. 
# https://cloud.google.com/natural-language/
import random
from textblob import TextBlob

SEED=42
random.seed(SEED)

In [17]:
sample = random.sample(tweets_texts, 30)
for tweet in sample:
    tb = TextBlob(tweet)
    print(tweet)
    print('SENTIMENT: %s' % str(tb.sentiment.polarity)) # "hello %s" % (name,) => hello Ela

 Say what you will about the #GameOfThronesFinale, the John Hughes homage was a bold choice to end on. https
SENTIMENT: 0.3333333333333333
 NOW AVAILABLE for your listening enjoyment - THE QUAD M SHOW Ep. 156! Download or stream from your favorite podcast catchiâ€¦
SENTIMENT: 0.5
//t.co/kSmq3EQxkW
SENTIMENT: 0.0
 THE MOTHER OF DRAGONS

#GameOfThronesFinale #GameOfThrones https
SENTIMENT: 0.0
 My mood in #GameOfThrones. What are your thoughts on the #GameOfThronesFinale?
https
SENTIMENT: 0.0
//t.co/vMDzG1gaU5
SENTIMENT: 0.0
 â€œJaime Lannister is the nastiest skank bitch Iâ€™ve ever met. DO NOT TRUST HIM. He is a fugly slut!â€ #GameOfThronesFinalâ€¦
SENTIMENT: 0.0
 Another example of deepfake. This time Jon Snow apologized for season 8 of Game Of Thrones.

#GameOfThrones #GameOfThrâ€¦
SENTIMENT: -0.4
 "Bend the knee"-Daenarys Targarayan

"Winter is coming"-Jon Snow.

"For the night is dark and is full of terrors"-Mellisandraâ€¦
SENTIMENT: 0.09999999999999999
 Review Game of Thrones
SENTIMENT: -0.4
//t.co/fJ4ZsQp80V
SENTIMENT: 0.0
 8 seasons just so Westeros could elect some cereal grain as their next king #GameofThronesFinale
SENTIMENT: 0.4
 'I Wanted A Better Death' For Cersei https
SENTIMENT: 0.5
 Farewell Game of Thrones. Thank you for 8 years of entertainment! #GameOfThronesFinale
SENTIMENT: -0.5
//t.co/IQlkJJzGbw
SENTIMENT: 0.0
 Say what you will about the #GameOfThronesFinale, the John Hughes homage was a bold choice to end on. https
SENTIMENT: 0.3333333333333333
 How im about to be for the next 3 months tryin to get over this lack luster finale #gameofthronesfinale #gameofthrones #demâ€¦
SENTIMENT: 0.0
 So basically Jon Snow went through what he had to go through just to get back to what he used to go throughðŸ˜­
#GOT #GameOfTâ€¦
SENTIMENT: 0.0
 Extra wide teeth comb https
SENTIMENT: -0.05
 Queen in the north!
Lots of symbolism here. Chose the colors that mostly represent house Stark. Drawing the armor was thâ€¦
SENTIMENT: 0.15
//t.co/sgspHGew2r
SENTIMENT: 0.0
 Queen in the north!
Lots of symbolism here. Chose the colors that mostly represent house Stark. Drawing the armor was thâ€¦
SENTIMENT: 0.15
 EVERYBODY LETâ€™S SAY THANK YOU TO THE BEST CAST EVER.

#GamefThrones #GameOfThronesFinale
#TheFinalEpisode https
SENTIMENT: 1.0
//t.co/3jnZHR7jIZ
SENTIMENT: 0.0
 My Game of Thrones Series Finale Review https
SENTIMENT: -0.4
//t.co/IbFiIB7LxO
SENTIMENT: 0.0
//t.co/qiTUnFMPz4
SENTIMENT: 0.0
 Game of thrones night king and Theon recreation!!!!!! #GameOfThronesFinale #GameofThronesSeason8 #nightking #GameOfThorâ€¦
SENTIMENT: -1.0
 EVERYBODY LETâ€™S SAY THANK YOU TO THE BEST CAST EVER.

#GamefThrones #GameOfThronesFinale
#TheFinalEpisode https
SENTIMENT: 1.0
//t.co/uaKVLcjOKZ
SENTIMENT: 0.0

In [ ]:
# Add a coloumn with sentiment to datatframe with tweets

In [18]:
scores = []

for tweet in tweets_texts:
    tb = TextBlob(tweet)
    scores.append(tb.sentiment.polarity)
    
tweet_df['sentiment'] = pd.Series(scores)
tweet_df.head()

,date,text,sentiment
0,2019-06-18 05:56:33,New Arrival--Game of Thrones 8 Daenerys Targar...,0.000000
1,2019-06-18 05:36:58,https://t.co/NPHrBatFog How should #gameofthro...,0.045000
2,2019-06-18 05:25:08,RT @bakchodbanker: Desi #GameOfTrones\n#GameOf...,-0.065909
3,2019-06-18 04:58:59,Events in entertainment that ended this year: ...,0.000000
4,2019-06-18 04:57:43,I canâ€™t top this and thatâ€™s the point #drinkin...,0.000000

In [19]:
# Remove all rows containing sentyment == 0.0. Remove duplicates and rows with NaN.

tweet_df.shape

(456, 3)

In [21]:
tweet_df = tweet_df[tweet_df['sentiment']!=0.0]
tweet_df.shape

(214, 3)

In [22]:
# Calculate the number of rows with positive and negative sentiment, calculate the percentage

tweet_df[tweet_df['sentiment'] > 0].shape

(146, 3)

In [23]:
tweet_df[tweet_df['sentiment'] < 0].shape

(68, 3)

In [30]:
positive_sent = 146/214*100
negative_sent = 68/214*100
print('positive sentiment = ') 
print(round(positive_sent,2))
print('positive sentiment = ')
print(round(negative_sent,2))

positive sentiment =
68.22
positive sentiment =
31.78

In [31]:
# Calculate N of rows with sentyment in estimated borders. 
# Use groupby qnd cut functions: https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html

import numpy as np

tweet_df.groupby(pd.cut(tweet_df['sentiment'], np.arange(-1, 1+0.2, 0.2))).count()

                   date  text  sentiment
sentiment
(-1.0, -0.8]          0     0          0
(-0.8, -0.6]          0     0          0
(-0.6, -0.4]          2     2          2
(-0.4, -0.2]         20    20         20
(-0.2, -2.22e-16]    30    30         30
(-2.22e-16, 0.2]     50    50         50
(0.2, 0.4]           46    46         46
(0.4, 0.6]           28    28         28
(0.6, 0.8]           12    12         12
(0.8, 1.0]            0     0          0

In [32]:
tweet_df.to_csv('GOT_8season_tweets.csv')